<html>
    <head>
        <title>Oscar Yip blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Oscar Yip Blog</a></h1>
        </div>

        <div>
            <p>published: 01.10.2016, 22:47</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello world! I am the first time to use django with python to mak
              e this trail text!</p>
        </div>

        <div>
            <p>published: 01.10.2016, 22:47</p>
            <h2><a href="">My second post</a></h2>
            <p>My purpose to make this blog for sharing my path to learning prog
              ramming, and be a professional hacker!</p>
        </div>
    </body>
</html>
